<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.twotoasters.watchfacetemplate">

    <uses-permission android:name="com.google.android.permission.PROVIDE_BACKGROUND" />

    <application android:allowBackup="true"
        android:icon="@drawable/preview"
        android:label="${appName}"/>

</manifest>
