<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.twotoasters.watchfacetemplate">

    <uses-feature android:name="android.hardware.type.watch" />
    <uses-permission android:name="com.google.android.permission.PROVIDE_BACKGROUND" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:label="${appName}"
        android:name=".WatchfaceApp">
        <activity
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar"
            android:name=".activity.WatchfaceActivity"
            android:label="${watchfaceName}"
            android:taskAffinity=""
            android:allowEmbedded="true" >

            <meta-data android:name="com.google.android.clockwork.home.preview" android:resource="@drawable/preview" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.google.android.clockwork.home.category.HOME_BACKGROUND" />
            </intent-filter>
        </activity>
    </application>

</manifest>
